<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-10">
            <button type="button" id="goBack" class="btn btn-default">
                <i class="fa fa-angle-left"></i> Retour
            </button>
        </div>
        <div class="col-sm-2">
            <button type="button" id="editProject" class="btn btn-primary">
                <i class="fa fa-pencil"></i> Éditer
            </button>

            <button type="button" id="deleteProject" class="btn btn-danger">
                <i class="fa fa-trash-o"></i> Supprimer
            </button>
        </div>
    </div>
</div>

<div class="row padding-large">

    <div class="form-group" id="message">
        <div class="col-sm-6 col-sm-offset-4 ">
            <div class="col-sm-12 alert hide"></div>
        </div>
    </div>

    <div class="page-header col-sm-12">
        <h1><a class="small-size">#{{id}}</a>{{data.project.name}} <small class="small-size">(<span data-toggle="tooltip" data-placement="top" title="Status">s<sub>t</sub></span> : {{i18n "app.projects.status" data.project.status "name"}})</small></h1>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            {{#if data.project.products}}
                {{#each data.project.products}}
                    <div class="panel-body">
                        <a href="#" class="deleteProduct" data-product-id="{{id}}" data-toggle="tooltip" data-placement="left" title="Supprimer le produit">
                            <i class="fa fa-trash-o text-danger"></i>
                        </a>
                        <p class="lead">Produit(s)</p>
                        <blockquote>
                            <div class="col-sm-4">
                                <div class="dropup">
                                    <p id="productDropUp" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{name}}
                                    </p>
                                    <ul class="dropdown-menu" aria-labelledby="productDropUp">
                                        <li><a>{{i18n "app.global.created_at"}} {{formated_date created_at}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <ul class="range-list list-inline">
                                    <li><i class="custom-icon configuration" data-toggle="tooltip" data-placement="top" title="{{i18n 'app.ranges.configuration.label'}}"></i> {{i18n 'app.ranges.configuration.enum' range.configuration}}</li>
                                    <li><i class="custom-icon exterior_finish" data-toggle="tooltip" data-placement="top" title="{{i18n 'app.ranges.exterior_finish.label'}}"></i> {{i18n 'app.ranges.exterior_finish.enum' range.exterior_finish}}</li>
                                    <li><i class="custom-icon insulating" data-toggle="tooltip" data-placement="top" title="{{i18n 'app.ranges.insulating.label'}}"></i> {{i18n 'app.ranges.insulating.enum' range.insulating}}</li>
                                    <li><i class="custom-icon top" data-toggle="tooltip" data-placement="top" title="{{i18n 'app.ranges.top.label'}}"></i> {{i18n 'app.ranges.top.enum' range.top}}</li>
                                </ul>
                            </div>
                            <footer>{{i18n "app.modules.title"}} :
                                <cite>
                                    {{#if modules}}
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Intitulé</th>
                                                    <th>Type</th>
                                                    <th>Référence</th>
                                                    <th>Hauteur</th>
                                                    <th>Largeur</th>
                                                    <th>Unité</th>
                                                    <th>Quantité</th>
                                                    <th>Prix Unitaire</th>
                                                    <th>Total HT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each modules}}
                                                <tr>
                                                    <th scope="row">{{name}}</th>
                                                    <td>{{moduleNature.name}}</td>
                                                    <td>MAD00{{id}}</td>
                                                    <td>{{height}}</td>
                                                    <td>{{width}}</td>
                                                    <td>{{moduleNature.unity}}</td>
                                                    <td>{{quantity}}</td>
                                                    <td>{{moduleNature.price}}€</td>
                                                    <td>{{math quantity "*" moduleNature.price}}€</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>

                                            <tfoot>
                                                <tr>
                                                    <th scope="row"></th>
                                                    <td colspan="6"></td>
                                                    <td class="total-label">Total TTC : </td>
                                                    <td class="total-price">{{totalModules}}€</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    {{else}}
                                        <div class="col-sm-4">
                                            <h2><small>Aucuns modules référencés pour ce projet.</small></h2>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" id="addModulesToProject" class="btn btn-success">
                                                <i class="fa fa-plus"></i> En ajouter un
                                            </button>
                                        </div>
                                    {{/if}}
                                </cite>
                            </footer>
                        </blockquote>
                    </div>
                {{/each}}
            {{else}}
                <div class="panel-body">
                    <div class="col-sm-4">
                        <h2><small>Aucuns produits référencés pour ce projet.</small></h2>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" id="addProductsToProject" class="btn btn-success">
                            <i class="fa fa-plus"></i> En ajouter un
                        </button>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>

{{#if data.project.products}}
<div class="row padding-large">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3>Rendu virtuel de votre projet</h3>
            </div>
            <div class="panel-body">
                <img src="/images/houses/{{data.project.image}}" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
{{/if}}