<div class="col-sm-12">
    <button type="button" id="validateProject" class="btn btn-lg btn-default">
        <i class="fa fa-angle-left"></i> Retour
    </button>
</div>

<div class="row padding-large">

    <div class="page-header col-sm-12">
        <h1>{{name}} <small class="small-size">(<span title="status">s<sub>t</sub></span> : {{i18n "app.projects.status" status}})</small></h1>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="lead">Produit(s)</p>
                {{#each this.products}}
                <blockquote>
                    <div class="dropup">
                        <p id="productDropUp" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{name}}
                        </p>
                        <ul class="dropdown-menu" aria-labelledby="productDropUp">
                            <li><a>{{i18n "app.global.created_at"}} {{formated_date p_created_at}}</a></li>
                        </ul>
                    </div>
                    <footer>{{i18n "app.ranges.title"}} :
                        <cite>
                            <ul class="range-list">
                                <li><a>{{i18n "app.ranges.configuration.label"}} : {{i18n "app.ranges.configuration.enum" configuration}}</a></li>
                                <li><a>{{i18n "app.ranges.exterior_finish.label"}} : {{i18n "app.ranges.exterior_finish.enum" exterior_finish}}</a></li>
                                <li><a>{{i18n "app.ranges.insulating.label"}} : {{i18n "app.ranges.insulating.enum" insulating}}</a></li>
                                <li><a>{{i18n "app.ranges.top.label"}} : {{i18n "app.ranges.top.enum" top}}</a></li>
                            </ul>
                        </cite>
                    </footer>
                </blockquote>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Modules</th>
                    <th>Type</th>
                    <th>Référence</th>
                    <th>Quantité</th>
                    <th>Prix/Unité</th>
                    <th>Tarif HT</th>
                    <th>Tarif TTC</th>
                </tr>
            </thead>
            <tbody>
                {{#each modules}}
                <tr>
                    <th scope="row">{{name}}</th>
                    <td>{{moduleNature.name}}</td>
                    <td>MAD00{{id}}</td>
                    <td>{{quantity}}</td>
                    <td>{{moduleNature.price}}€</td>
                    <td>{{math quantity "*" moduleNature.price}}€</td>
                    <td>-</td>
                </tr>
                {{/each}}
            </tbody>

            <tfoot>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total : </td>
                    <td>{{this.data.total}}€</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>