<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<p class="lead">Produit</p>
				{{#each products}}
				<blockquote>
                    <div class="dropup">
                        <p id="productDropUp" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{name}}
                        </p>
                        <ul class="dropdown-menu" aria-labelledby="productDropUp">
                            <li><a>{{i18n "app.global.created_at"}} {{formated_date p_created_at}}</a></li>
                        </ul>
                    </div>
					<footer>{{i18n "app.ranges.title"}} :
						<cite>
                            <ul class="range-list">
                                <li>
                                    <i class="custom-icon configuration" data-toggle="tooltip" data-placement="top" title="{{i18n "app.ranges.configuration.label"}}"></i>
                                    {{i18n "app.ranges.configuration.enum" configuration}}
                                </li>
                                <li>
                                    <i class="custom-icon exterior_finish" data-toggle="tooltip" data-placement="top" title="{{i18n "app.ranges.exterior_finish.label"}}"></i>
                                    {{i18n "app.ranges.exterior_finish.enum" exterior_finish}}
                                </li>
                                <li>
                                    <i class="custom-icon insulating" data-toggle="tooltip" data-placement="top" title="{{i18n "app.ranges.insulating.label"}}"></i>
                                    {{i18n "app.ranges.insulating.enum" insulating}}
                                </li>
                                <li>
                                    <i class="custom-icon top" data-toggle="tooltip" data-placement="top" title="{{i18n "app.ranges.top.label"}}"></i>
                                    {{i18n "app.ranges.top.enum" top}}
                                </li>
                            </ul>
						</cite>
					</footer>
				</blockquote>
				{{/each}}
			</div>
		</div>
	</div>

	<div class="col-sm-12">
       <p class="lead">Module(s)</p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>Type</th>
                    <th>Référence</th>
                    <th>Quantité</th>
                    <th>Prix Unitaire</th>
                    <th>Prix TTC</th>
                </tr>
            </thead>
            <tbody>
                {{#each modules}}
                <tr>
                    <th scope="row">{{m_name}}</th>
                    <td>{{name}}</td>
                    <td>MAD00{{m_id}}</td>
                    <td>{{quantity}}</td>
                    <td>{{price}}€</td>
                    <td>{{math quantity "*" price}}€</td>
                </tr>
                {{/each}}
            </tbody>

            <tfoot>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="total-label">Total : </td>
                    <td class="total-price">{{this.data.total}}€</td>
                </tr>
            </tfoot>
        </table>
	</div>

	<div class="col-sm-12">
		<div id="footerForm" class="col-sm-4 col-sm-offset-4">
			<div class="form-group center-block">
				<button type="button" id="validateProject" class="btn btn-lg btn-default btn-custom-light">
					<i class="fa fa-lg fa-check"></i> Finaliser le devis
				</button>
			</div>
		</div>
	</div>
</div>