<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            {{#if data.project.products}}
                {{#each data.project.products}}
                    <div class="panel-body">
                        <p class="lead">Produit(s)</p>
                        <blockquote>
                            <div class="col-sm-12">
                                <div class="dropup">
                                    <p id="productDropUp" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{name}}
                                    </p>
                                    <ul class="dropdown-menu" aria-labelledby="productDropUp">
                                        <li><a>{{i18n "app.global.created_at"}} {{formated_date created_at}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <ul class="range-list list-inline">
                                    <li><i class="custom-icon configuration" data-toggle="tooltip" data-placement="top" title="{{i18n 'app.ranges.configuration.label'}}"></i> {{i18n 'app.ranges.configuration.enum' range.configuration}}</li>
                                    <li><i class="custom-icon exterior_finish" data-toggle="tooltip" data-placement="top" title="{{i18n 'app.ranges.exterior_finish.label'}}"></i> {{i18n 'app.ranges.exterior_finish.enum' range.exterior_finish}}</li>
                                    <li><i class="custom-icon insulating" data-toggle="tooltip" data-placement="top" title="{{i18n 'app.ranges.insulating.label'}}"></i> {{i18n 'app.ranges.insulating.enum' range.insulating}}</li>
                                    <li><i class="custom-icon top" data-toggle="tooltip" data-placement="top" title="{{i18n 'app.ranges.top.label'}}"></i> {{i18n 'app.ranges.top.enum' range.top}}</li>
                                </ul>
                            </div>
                            <footer>
                                <cite>
                                    {{#if modules}}
                                        <table class="table table-bordered table-striped margin-small">
                                            <caption>{{i18n "app.modules.title"}}</caption>
                                            <thead>
                                                <tr>
                                                    <th>Intitulé</th>
                                                    <th>Type</th>
                                                    <th>Référence</th>
                                                    <th>Hauteur</th>
                                                    <th>Largeur</th>
                                                    <th>Unité</th>
                                                    <th>Quantité</th>
                                                    <th>Prix Unitaire</th>
                                                    <th>Total HT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each modules}}
                                                <tr>
                                                    <th scope="row">{{name}}</th>
                                                    <td>{{moduleNature.name}}</td>
                                                    <td>MAD00{{id}}</td>
                                                    <td>{{height}}</td>
                                                    <td>{{width}}</td>
                                                    <td>{{moduleNature.unity}}</td>
                                                    <td>{{quantity}}</td>
                                                    <td>{{moduleNature.price}}€</td>
                                                    <td>{{math quantity "*" moduleNature.price}}€</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>

                                            <tfoot>
                                                <tr>
                                                    <th scope="row"></th>
                                                    <td colspan="6"></td>
                                                    <td class="total-label">Total TTC : </td>
                                                    <td class="total-price">{{totalModules}}€</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    {{/if}}
                                </cite>
                            </footer>
                        </blockquote>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>

	<div class="col-sm-12">
        <div id="navigation" class="col-sm-12 footer">
            <a href="#" class="btn btn-neutre btn-labeled back">
                <span class="badge badge-primary"><i class="fa fa-arrow-left"></i></span> Étape précédente
            </a>
            <button type="button" id="validateProject" class="btn btn-lg btn-default btn-custom-light">
                <i class="fa fa-lg fa-check"></i> Finaliser le devis
            </button>
        </div>
	</div>
</div>